<div class="row">
  <div class="col-md-12">
    <%= link_to new_conversation_path, class: "btn btn-success" do %>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> Compose
    <% end %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>

</div>