<footer style="background-color: #ececec; color: #737373; padding-top: 30px; padding-bottom: 30px; margin-top: 77px;">
	<div class="container">
	  <div class="row">
	    <div class="col-md-4">
	    	<h3>Tradesgram</h3>
	    	<hr>
	    	<p><i class="fa fa-map-marker" aria-hidden="true"></i> 20069 2nd Ave SW<br>
	    		Seattle, WA</p>
	    	<p><i class="fa fa-phone" aria-hidden="true"></i> +1 206-327-3148</p>
	    </div><!-- end col-md-4 -->
	    <div class="col-md-4">
	    	<h3>Follow Us</h3>
	    	<hr>
	    	<p><a href="https://www.facebook.com/Tradesgram-472834876234190/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true" style="color: #3b5998; font-size: 3em;"></i></a> <a href="https://twitter.com/tradesgram" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true" style="color: #55acee; font-size: 3em;"></i></a>
	    </div><!-- end col-md-4 -->
	    <div class="col-md-4">
	    	<h3>Our Sponsors</h3>
	    	<hr>
	    	
	    </div><!-- end col-md-4 -->
	  </div><!-- end row -->
	</div><!-- end container -->

</footer>

<footer style="color: black; padding-top: 10px; padding-bottom: 10px;">
	<div class="container">
	  <div class="row">
	    <div class="col-md-8">
	    	<p>Copyright © 2016 Tradesgram. All Rights Reserved.
	    </div><!-- end col-md-4 -->
	    <div class="col-md-4" style="float: right;">
	    	<p>Privacy Policy | Terms &amp; Conditions</p>
	    </div><!-- end col-md-4 -->
	  </div><!-- end row -->
	</div><!-- end container -->

</footer>